# Python bytecode
__pycache__/
*.py[cod]

# Database (Keep your personal reading data private)
READ.db

# Generated Folders (Avoid cluttering the repo with local files)
plots/
reports/

# Virtual Environments
venv/
.venv/
env/

# OS files
.DS_Store
Thumbs.db


bugs.txt
